WCFSolution/EvalClient/Service References/EvalServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEvalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EvalServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvalService_GetEvals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvals" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEvals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalsResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_SubmitEval_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEval" />
  </wsdl:message>
  <wsdl:message name="IEvalService_SubmitEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEvalResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEval" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEvalsBySubmitter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalsBySubmitter" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEvalsBySubmitter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalsBySubmitterResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_RemoveEval_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEval" />
  </wsdl:message>
  <wsdl:message name="IEvalService_RemoveEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEvalResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvalService">
    <wsdl:operation name="GetEvals">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/GetEvals" message="tns:IEvalService_GetEvals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/GetEvalsResponse" message="tns:IEvalService_GetEvals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/SubmitEval" message="tns:IEvalService_SubmitEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/SubmitEvalResponse" message="tns:IEvalService_SubmitEval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/GetEval" message="tns:IEvalService_GetEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/GetEvalResponse" message="tns:IEvalService_GetEval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvalsBySubmitter">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/GetEvalsBySubmitter" message="tns:IEvalService_GetEvalsBySubmitter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/GetEvalsBySubmitterResponse" message="tns:IEvalService_GetEvalsBySubmitter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/RemoveEval" message="tns:IEvalService_RemoveEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/RemoveEvalResponse" message="tns:IEvalService_RemoveEval_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvalService" type="tns:IEvalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvals">
      <soap:operation soapAction="http://tempuri.org/IEvalService/GetEvals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitEval">
      <soap:operation soapAction="http://tempuri.org/IEvalService/SubmitEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEval">
      <soap:operation soapAction="http://tempuri.org/IEvalService/GetEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvalsBySubmitter">
      <soap:operation soapAction="http://tempuri.org/IEvalService/GetEvalsBySubmitter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEval">
      <soap:operation soapAction="http://tempuri.org/IEvalService/RemoveEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IEvalService" type="tns:IEvalService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEvalService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetEvals">
      <soap12:operation soapAction="http://tempuri.org/IEvalService/GetEvals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitEval">
      <soap12:operation soapAction="http://tempuri.org/IEvalService/SubmitEval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEval">
      <soap12:operation soapAction="http://tempuri.org/IEvalService/GetEval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvalsBySubmitter">
      <soap12:operation soapAction="http://tempuri.org/IEvalService/GetEvalsBySubmitter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEval">
      <soap12:operation soapAction="http://tempuri.org/IEvalService/RemoveEval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvalService">
    <wsdl:port name="BasicHttpBinding_IEvalService" binding="tns:BasicHttpBinding_IEvalService">
      <soap:address location="http://localhost:8080/evals/basic/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IEvalService" binding="tns:NetTcpBinding_IEvalService">
      <soap12:address location="net.tcp://localhost:8081/evals/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/evals/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>admin-Komputer\admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>